header{
    display: flex;
    justify-content: space-around;
    background-color: gray;
    height: 150px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1em ;
}

.nave{
    display: flex;
    gap: 20px;
}

.nave a:hover{
    background-color: white;
}

h1{
    font-size: 2em;
}

main{
    background-color: brown;
    
}

footer{
    display: flex;
    background-color: rgb(237, 100, 132);

}


.sobre_mim{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.foto img{
    border-radius: 50%;
}


.texto{
    width: 300px;
}

.texto h2{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.atividades{
    display: flex;
    background-color: cornflowerblue;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    
}

.afazeres{
    display: flex;
    height: 200px;
    flex-direction: column;
}

.afazeres h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: end;
}


.diversao{
    display: flex;
    height: 200px;
    flex-direction: column;
    

}

.diversao h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.mimos{
    display: flex;
    gap: 20px;

}

.icone{
    background-color: rgb(255, 149, 0);
    height: 160px;
    width: 80px;
    display: flex;
    flex-direction: column-reverse;
    transition: 0.5s;
}

.icone:hover{
    transform: scale(1.2);
    transition: 0.5s;
    background-color: rgb(240, 240, 255);
}

footer{
    background-color: rgb(237, 136, 100);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.sociais{
    display: flex;
    background-color: rgb(237, 136, 100);
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.botao{
  
    background-color:rgb(237, 136, 100) ;
    gap: 30px;
    padding: 20px;
}


